<h1>Ingrese su nueva contrase単a: </h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
<div class="mb-3">
    <%=form.label :contrase単a%>
    <%=form.password_field :password, class: "form-control", placeholder: "******"%>
</div>

<div class="mb-3">
    <%=form.label :confirme_contrase単a%>
    <%=form.password_field :password_confirmation, class: "form-control", placeholder: "******"%>
</div>

<div class="mb-3">
    <%= form.submit "Aceptar Nueva Contrase単a", class: "btn btn-primary"%>
</div>
<% end %>